<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<style>
			.companies div {
				border: 1px solid blue;
				margin: 5px;
				width: 100px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="companies">
			{% for model in companies %}
				<div>{{model}}</div>
			{% endfor %}
		</div>
	</body>
</html>
