* {
    margin: 0;
    padding: 0;
}

header {
    z-index: 3;
    position: relative;
    display: flex;
    height: 95px;
    box-shadow: 1px 1px 20px rgb(240, 240, 240);
}

#right_side {
    display: flex;
    position: absolute;
    right: 0;
}

#search {
    position: absolute;
    right: 198.5px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    transform: translateY(26px);
    height: 45px;
    width: 444px;
    margin-left: 40%;
    display: flex;
}

#search input {
    position: absolute;
    left: 50px;
    top: 11.5px;
    width: 276px;
    height: 22px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

#search_icon {
    width: 21px;
    height: 21px;
    transform: translate(14px, 11.5px);
    cursor: pointer;
}

header img {
    width: 229px;
    height: 75px;
    transform: translate(9px, 11px);
}

#user_notification {
    width: 198.5px;
}

#bell {
    width: 26px;
    height: 31px;
    transform: translate(35.5px, 2.5px);
}

#user_pic {
    transform: translate(80px, 17.5px);
    width: 60px;
    height: 60px;
}

#home {
    border-right: 1px solid rgb(240, 240, 240);
    position: relative;
    display: grid;
    width: 123px;
}

#home_icon {
    position: absolute;
    padding: 20px 30px 20px 0px;
    left: 39px;
    top: 168px;
    width: 45px;
    height: 38.5px;
    cursor: pointer;
}

#home_icon:hover {
    border-right: 4px solid #8954BA;
}

#product_icon {
    position: absolute;
    left: 49px;
    width: 26px;
    height: 25px;
    bottom: 45.5px;
    cursor: pointer;
}

main {
    display: flex;
}

#main_block {
    width: 100%;
    height: 100%;
}

#navigation {
    width: 100%;
    height: 127px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

#top_line {
    display: flex;
}

#navigation img {
    cursor: pointer;
    width: 56px;
    height: 14px;
    transform: translate(43px, 31px);
}

#navigation_top_line {
    display: flex;
    width: 320px;
    height: 14px;
    transform: translate(50px, 29px);
    color: #969696;
    font-family: Helvetica;
    font-size: 14px;
}

#Home,
#Admin,
#User_management {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#Home:hover,
#Admin:hover,
#User_management:hover {
    color: #717171;
}

#navigation_bottom_line {
    display: flex;
    margin-left: 43px;
    margin-top: 86px;
}

.buttons {
    height: 15px;
    margin-right: 45px;
    color: #686868;
    font-family: Helvetica;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.buttons:hover {
    color: #8954BA;
    border-bottom: 4px solid #8954BA;
}

#other_button {
    transform: translateY(-35px);
    font-size: 50px;
    letter-spacing: -3px;
    color: #686868;
    width: 24px;
    height: 6px;
    cursor: pointer;
}

#main_dashboard {
    position: relative;
    height: 100vh;
}

#dashboard_users {
    width: 140px;
    height: 18px;
    font-family: Helvetica;
    color: #686868;
    transform: translate(43px, 68px);
}

#add_button {
    position: absolute;
    right: 55px;
    top: 54.5px;
    cursor: pointer;
}

#table_block {
    margin-left: 43px;
    margin-right: 55px;
    margin-top: 134.5px;
    height: 50%;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    color: #686868;
    font-family: Helvetica;
    height: 62px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

tr td:first-child {
    position: relative;
}

tr td:first-child span {
    position: absolute;
    top: 21px;
}

#users_count {
    width: 48px;
    height: 14px;
    font-size: 13px;
    color: #686868;
    font-family: Helvetica;
    transform: translate(55px, 75px);
}

td:last-child {
    width: 155px;
}

td:first-child {
    width: 200px;
}

td:last-child img {
    margin-left: 20px;
    cursor: pointer;
}

tbody tr {
    border-bottom: 2px solid #F7F7F7;
}

/* The container */
.container {
    display: block;
    position: relative;
    transform: translate(18px, -32px);
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

.container span:first-child {
    transform: translate(0px, 3px);
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid #969696;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    border: 2px solid #8954BA;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    border: 2px solid #8954BA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #8954BA;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.view {
    width: 24px;
    height: 14px;
}

.delete {
    width: 17px;
    height: 20px;
}

.edit {
    width: 20.32px;
    height: 20.32px;
    margin-right: 20px;
}

#rectangle {
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 917px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#add_new_user {
    position: absolute;
    display: none;
    right: 0;
    width: 33.33333%;
    height: 917px;
    z-index: 2;
    background-color: white;
}

#all_block {
    margin: 207.5px 51.4px 224.2px 66.5px;
    height: 50%;
    font-family: Helvetica;
}

#all_block p:first-child {
    font-size: 20px;
    color: #686868;
    margin-bottom: 10px;
}

#all_block p:nth-child(2) {
    font-size: 14px;
    color: #686868;
    margin-bottom: 54px;
}

#all_block input {
    height: 27px;
    border-bottom: 1px solid #A1ADCD;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
    font-size: 13px;
}

#all_block input::placeholder {
    font-family: Helvetica;
    color: #686868;
}

#select_option {
    width: 100%;
    margin-bottom: 49px;
}

#select_buttons {
    display: flex;
    position: relative;
}

#select_buttons img {
    position: absolute;
    right: 0;
    cursor: pointer;
}

#all_block .container{
    transform: translate(0px, 10px);
    color: #686868;
    font-size: 13px;
}

#deleteWindow {
    position: absolute;
    display: none;
    width: 100%;
    height: 917px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#main_del_win {
    position: fixed;
    transform: translate(100%, 50%);
    display: none;
    width: 33%;
    height: 335px;
    z-index: 2;
    background-color: white;
}

#main_del_win img:nth-child(1) {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#main_del_win img:nth-child(2) {
    transform: translate(20%, 20%);
}

#main_del_win img:nth-child(3) {
    margin-right: 26.7px;
}
#main_del_win img:nth-child(3),
#main_del_win img:nth-child(4) {
    transform: translate(50%, 250%);
    cursor: pointer;
}
/* Edit Window */
#edit_win {
    position: absolute;
    display: none;
    right: 0;
    width: 33.33333%;
    height: 917px;
    z-index: 2;
    background-color: white;
}

#edit_all_block {
    margin: 207.5px 51.4px 224.2px 66.5px;
    height: 50%;
    font-family: Helvetica;
}

#edit_all_block p:first-child {
    font-size: 20px;
    color: #686868;
    margin-bottom: 10px;
}

#edit_all_block p:nth-child(2) {
    font-size: 14px;
    color: #686868;
    margin-bottom: 54px;
}

#edit_all_block input {
    height: 27px;
    border-bottom: 1px solid #A1ADCD;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
    font-size: 13px;
}

#edit_all_block input::placeholder {
    font-family: Helvetica;
    color: #686868;
}

#edit_select_option {
    width: 100%;
    margin-bottom: 49px;
}

#edit_select_buttons {
    display: flex;
    position: relative;
}

#edit_select_buttons img {
    position: absolute;
    right: 0;
    cursor: pointer;
}

#edit_all_block .container{
    transform: translate(0px, 10px);
    color: #686868;
    font-size: 13px;
}